.items-wrapper {
  border-top: 4px solid black;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.items-title {
  text-align: center;
}

a {
  color: black;
}

img {
  /* height: 20em; */
  width: 100%;
}
.product-img img {
  height: 250px;
}
.item {
  width: 25%;
  font-family: 'Quicksand', sans-serif;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  /* margin: .5em; */
  padding: 1em;
  background-color: white;
  transition: transform 300ms bounce;
}

a {
  color: black;
  text-decoration: none;
}

/* img {
  height: 20em;
} */

#product-name {
  text-align: center;
  border-top: 1px solid lightgrey;
  padding: 1em 0 0;
  font-size: 0.9em;
  font-family: 'Lato', sans-serif;
  margin: .5em 0;
  text-transform: uppercase;

  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

#product-description {
  font-size: 0.7em;
  font-family: 'Lato', sans-serif;
  color: grey;
  font-weight: lighter;
  margin: 0;

  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

#product-price {
  font-size: 0.75em;
}

.price-add {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

i {
  color: lightgrey;
  transition: 0.5s;
}

i:hover {
  color: grey;
  transition: 0.5s;
  cursor: pointer;
}

.addcart-icon {
  height: auto;
}